doctype html
html   
    head
        title = "Zaloguj się do google"
    
    body
        form(action="http://localhost:3000/logged-in")
            label Twój login
            input(type="text" placeholder="Wpisz swój login")
            br
            label Hasło
            input(type="password")
            br
            input(type="submit")